* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: rgb(135, 134, 138);
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
 
}

.card {
    height: 575px;
    width: 325px;
    border-radius: 5px;
    background: #fff;
    margin: 15px;
    border-radius: 10px;
}

.card1 .price {
    background: teal;
}

.card2 .price {
    background: rgb(16, 13, 214);
}

.card3 .price {
    background: rgb(221, 20, 177);
}

.price {
    background: #fff;
    height: 185px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: grid;
    place-items: center;
}

.feature h2 {
    text-align: center;
    margin: 10px 20px;
    font-size: 18px;
    font-weight: 500;
    color: black;
}

.card3:hover {
    transform: translateY(-30px);
    transition: 0.3s all ease-in-out;
}

.card2:hover {
    transform: translateY(-30px);
    transition: 0.3s all ease-in-out;
}

.card1:hover {
    transform: translateY(-30px);
    transition: 0.3s all ease-in-out;
}

ul {
    margin: 30px 20px;
}

ul li {
    color: #000;
    list-style: none;
    margin: 10px 20px;
}

del {
    text-decoration: line-through;
}

.fa-check {
    color: green;
    font-size: 20px;
}

.fa-times {
    color: red;
    font-size: 20px;
}

.feature button {
    /* text-align: center; */
    margin: 10px 80px;
    height: 45px;
    width: 145px;
    border-radius: 10px;
    outline: none;
    border: none;
    background: #049568;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: 600;
}

button:hover {
    background: #04ed56;
}

body h1 {
    text-align: center;
}